language: ruby
rvm: 2.3.0
env: "CODECLIMATE_REPO_TOKEN=aab14603969a0d5d34e73ee8ebd14f585cb9ec546786401de1842f3d09a63ae7"
before_script:
  - mysql -e 'create database aggressive_epsilon_test'
  - cp config/database.yml.example config/database.yml
script:
  - bundle exec rake db:reset
  - rspec
notifications:
  email:
    on_success: never
    on_failure: change
    recipients: programmers@admin.umass.edu
